.App {
  text-align: center;
}

.Calculator-screen {
  border: 1px solid black;
  border-radius: 5px;
}

.input-pad {
  width: 60%;
  margin: 2em auto 0 auto;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5em 2em;
  width: 25%;
}
