body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.Calculator-screen {
  border: 1px solid black;
  border-radius: 5px;
}

.input-pad {
  width: 60%;
  margin: 2em auto 0 auto;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5em 2em;
  width: 25%;
}

.button:focus {
  background-color: #8a92a0;
}

.button:active {
  background-color: #8a92a0;
}

.modifier, .reset {
  background-color:  #fcce7e;
}

.number, .display {
  background-color: #b1f1ee;
}

.operator, .result {
  background-color: #f9a484;
}

@media screen and (max-width: 800px) {
  /* display screen */
  .display {
    padding: 1em 0;
  }

  /* input pad */
  .input-pad {
    width: 100%;
  }

  .button {
    padding: 2em 0em;
    font-size: 24px;
  }
}

@media screen and (max-width: 370px) {
  .display {
    padding: 1em 0;
  }
  
  .input-pad {
    width: 100%;
  }

  .button {
    box-sizing: border-box;
    padding: 2em 0em;
    font-size: 24px;
  }
}